<!DOCTYPE html>
<html lang="en">

    <head>
        <script src='static/js/query-3.6.0.min.js'></script>
        <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
        <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
        <link rel="stylesheet" href="static/css/styles.css" type="text/css" charset="utf-8">
    </head>

    <body>
        <div id="wrapDiv1">
            <div id="div1">
                <img src="static/images/logo.png" alt="logo" width="75px" height="75px">
            </div>
            <div id="div2">
                <h1>{{page_title}}</h1>
            </div>
        </div>
    </body>

</html>