<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="static/css/styles.css" type="text/css" charset="utf-8">
        <title>manageLists</title>
    </head>
    <body>
        {% include 'header.html' %}

        <table>
          <tr>
            <td><a href="/">home</a></td>
            <td><a href="viewLists">viewLists</a></td>
            <td><a href="editList">editList</a></td>
            <td><a href="createNewList">createNewList</a></td>
          </tr>
        </table>

        {% include 'footer.html' %}
    </body>
</html>
